$border-radius: 4px;

.godmin-uploads-wrapper { width: 100%;  }

.godmin-uploads__info__progress { display: none; }

.godmin-uploads {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 150px;
  border-radius: $border-radius;
  text-align: center;
  position: relative;
}

///States///
.godmin-uploads {
  border: 1px dashed #ddd;
  .godmin-uploads__preview,
  .godmin-uploads__remove-link {
    display: none;
  }
  .godmin-uploads__placeholder {
    display: block;
  }
  .godmin-uploads__info {
    display: none;
  }
}

.godmin-uploads-start {
  border: 1px dashed #ddd;
  .godmin-uploads__preview__actions
  .godmin-uploads__remove-link,
  .godmin-uploads__placeholder,
  .godmin-uploads__preview__actions {
    display: none;
  }
  .godmin-uploads__info {
    display: block;
  }
}

.godmin-uploads-complete {

}

.godmin-uploads-success {
  border: none;
  .godmin-uploads__placeholder,
  .godmin-uploads__preview__set-to-remove {
    display: none
  }
  .godmin-uploads__preview,
  .godmin-uploads__remove-link {
    display: block;
  }
}

.godmin-uploads-remove-img {
   border: none;
  .godmin-uploads__remove-link,
  .godmin-uploads__placeholder,
  .godmin-uploads__preview__actions {
    display: none;
  }
  .godmin-uploads__preview,
  .godmin-uploads__preview__set-to-remove {
    display: block;
  }
}

///end States///

.godmin-uploads__preview__set-to-remove {
  border-radius: 4px;
  color: #fff;
  font-size: 1em;
  height: 100%;
  width: 100%;
  background-color: rgba(39, 39, 39, 0.8);
  display: block;
  position: absolute;
  top: 0;
  .godmin-uploads__preview__set-to-remove__actions {
    display: table;
    margin: 30px auto;
    vertical-align: middle;
    text-align: center;
    width: 200px;
    .remove__actions__undo {
      cursor: pointer;
      .glyphicon-repeat {
        font-size: 2em;
      }
    }
  }
}

.godmin-uploads__preview {
  position: relative;
  text-align: center;
  margin: 0 auto;
  &:hover {
    .godmin-uploads__preview__actions {
      opacity: 1;
      -webkit-transition: all 0.2s ease-in-out 0.1s;
      -moz-transition: all 0.2s ease-in-out 0.1s;
      -o-transition: all 0.2s ease-in-out 0.1s;
      transition: all 0.2s ease-in-out 0.1s;
    }
  }
}

.godmin-uploads__preview__image {
  border: 1px solid #ddd;
  border-radius: $border-radius;
  width: 100%;
  max-width: 1170px;
  min-height: 150px;
}

.godmin-uploads__preview .glyphicon-file {
  font-size: 80px;
  height: 150px;
  width: 150px;
  line-height: 150px;
}

.godmin-uploads__placeholder {
  cursor: pointer;
  margin: 0px auto;
  text-align: center;
  width: 100px;
  .glyphicon-cloud-upload {
    font-size: 40px;
  }
}

.godmin-uploads__placeholder__file-label {
  cursor: pointer;
}

.godmin-uploads__placeholder {
  color: #ddd;
  &:hover {
    color: #bbb;
  }
}

.godmin-uploads__preview__actions {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 3em;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.godmin-uploads__remove-link,
.godmin-uploads__preview__download,
.godmin-uploads__preview__update {
  float: right;
  display: block;
  width: 100%;
  height: 50px;
  color: #fff;
  font-weight: bold;
  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  a{
    color: #fff;
    text-decoration: none;
    &:hover { color: #ddd; }
    &:active { color: #bbb; }
  }
  &:hover {
    cursor: pointer;
    color: #ddd;
    text-decoration: none;
  }
  &:active {
    color: #bbb;
  }
  .glyphicon {
    font-size: 1.5em;
    line-height: 50px;
  }
}

.godmin-uploads__preview__update__file-label {
  cursor: pointer;
}

.godmin-uploads__info {
  z-index: 2;
  width: 100%;
}

.godmin-uploads__info__progress {
  margin: 0 auto;
  width: 80%;
}

.godmin-uploads__info__filename {
  text-align: center;
}
