$border-radius: 4px;

.godmin-uploads__info__progress { display: none; }

.godmin-uploads {
  max-height: 152px;
  min-height: 152px;
  width: 100%;
  border-radius: $border-radius;
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  position: relative;
}

///States///
.godmin-uploads {
  border: 1px dashed #ddd;
  .godmin-uploads__preview,
  .godmin-uploads__complete,
  .godmin-uploads__info {
    display: none;
  }
  .godmin-uploads__placeholder {
    display: block;
  }
}

.godmin-uploads-start {
  border: 1px dashed #ddd;
  .godmin-uploads__preview__actions
  .godmin-uploads__placeholder,
  .godmin-uploads__preview__actions {
    display: none;
  }
  .godmin-uploads__info {
    display: flex;
    display: -webkit-flex;
  }
}

.godmin-uploads-complete {
  border: 1px dashed #ddd;
  .godmin-uploads__preview__actions
  .godmin-uploads__placeholder,
  .godmin-uploads__preview__actions {
    display: none;
  }
  .godmin-uploads__info {
    display: flex;
    display: -webkit-flex;
  }
}

.godmin-uploads-success {
  max-height: 1200px;
  transition: max-height 0.5s ease-in-out 0.3s;
  border: none;
  .godmin-uploads__placeholder,
  .godmin-uploads__preview__set-to-remove,
  .godmin-uploads__complete {
    display: none
  }
  .godmin-uploads__preview {
    display: block;
  }
}

.godmin-uploads-remove {
   max-height: 1200px;
   border: none;
  .godmin-uploads__placeholder,
  .godmin-uploads__preview__actions,
  .godmin-uploads__complete {
    display: none;
  }
  .godmin-uploads__preview,
  .godmin-uploads__preview__set-to-remove {
    display: block;
  }
}

///end States///

.godmin-uploads__preview__set-to-remove {
  border-radius: $border-radius;
  font-size: 1em;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: absolute;
  top: 0;
  .godmin-uploads__preview__set-to-remove__actions {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .remove__actions__undo {
      padding: 20px 0;
      cursor: pointer;
      .glyphicon-repeat {
        font-size: 2em;
      }
    }
  }
}

.godmin-uploads__preview {
  display: flex;
  display: -webkit-flex;
  position: relative;
  text-align: center;
}

.godmin-uploads__preview__image {
  border: 1px solid #ddd;
  border-radius: $border-radius;
  max-width: 100%;
  max-height: 100%;
  min-width: 152px;
  min-height: 152px;
}

.godmin-uploads__preview .glyphicon-file {
  font-size: 80px;
  height: 150px;
  width: 150px;
  line-height: 150px;
}

.godmin-uploads__placeholder {
  align-self: center;
  -webkit-align-self: center;
  cursor: pointer;
  text-align: center;
  width: 100px;
  color: #ddd;
}

.godmin-uploads__placeholder__file-label {
  cursor: pointer;
  .glyphicon-cloud-upload {
    font-size: 40px;
  }
}

.godmin-uploads__preview__actions {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}

.godmin-uploads__preview__update__file-label {
  padding: 3px 20px;
  font-weight: normal;
  display: block;
  margin-bottom: 0;
  cursor: pointer;
  line-height: 20px;
  &:hover {
    background-color: #f5f5f5;
  }
}

.godmin-uploads__info {
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  justify-content: space-around;
}

.godmin-uploads__info__progress {
  margin: 0 auto;
  width: 80%;
  max-width: 10em;
  align-self: center;
  -webkit-align-self: center;
}

.godmin-uploads__preview__icon {
  border-radius: $border-radius;
  min-width: 200px;
  border: 1px solid #ddd;
  color: #ddd;
}
