.godmin-upload {
  .godmin-upload-progress {
    display: none;
  }

  .godmin-upload-area label {
    font-weight: normal;
    cursor: pointer;
  }

  .godmin-upload-file-field {
    display: none;
  }
}
